[user]
	name = Victor Mota
	email = vimota@gmail.com
[alias]
	co = checkout
	s = status
	ci = commit
 	st = status
 	br = branch
 	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
 	type = cat-file -t
 	dump = cat-file -p
	up = "!git remote update -p; git merge --ff-only @{u}"
  track = "!git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`"
	am = !git add -A && git commit
	ac = !git add -A && git commit
	# checkout by index (from `git br`) or pass-through to normal checkout
	co = "!f() { \
		if [ $# -gt 0 ]; then \
			case \"$1\" in \
				(*[!0-9]*|'') git checkout \"$@\" ;; \
				(*) \
					branch=$(git branch --format='%(refname:short)' | sed -n \"${1}p\"); \
					[ -n \"$branch\" ] || { echo \"No branch at index $1\" >&2; return 1; }; \
					shift; \
					git checkout \"$branch\" \"$@\" ;; \
			esac; \
		else \
			git checkout; \
		fi; \
	}; f"

	# numbered local branches (for use with `git co <n>`)
	br = "!git branch --format='%(refname:short)' | nl -w1 -s' '"
[color]
	ui = auto
	ui = true
[core]
	editor = vim
	autocrlf = false
	safecrlf = true
	quotepath = false
	excludesfile = /Users/vimota/.gitignore-global
[push]
	default = simple
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[branch]
	autoSetupMerge = simple
	autoSetupRemote = simple
